version: 1.0.{build}
init:
- ps: |
    write-host "CI_WINDOWS: $env:CI_WINDOWS"
    write-host "CI_LINUX: $env:CI_LINUX"
install:
- ps: |
    $newContent = (Get-Content webapplication-eb/Views/Home/Index.cshtml).Replace("ASP.NET", "ASP.NET-$env:APPVEYOR_BUILD_NUMBER")
    Set-Content -Value $newContent -Path  webapplication-eb/Views/Home/Index.cshtml
before_build:
- cmd: nuget restore
build:
  publish_wap_beanstalk: true
  verbosity: minimal
deploy:
- provider: ElasticBeanstalk
  access_key_id: AKIAJEL7YZLCACRKJNRA
  secret_access_key:
    secure: Ef48bJ+oZMAYCKq55ze4j0LKdqsJ27uVFJo1rAtTpgkpltlZVGvCMYgwVM+gb/r/
  application_name: appveyor-net-no-deploy
  environment_name: appveyor-net-no-deploy
  region: us-east-2
  healthcheck: /Home/Contact
  on:
    CI_WINDOWS: true
